@import url('https://fonts.googleapis.com/css?family=Sunflower:700');

html, body {
  height: 100%;
}

.button {
  
}

.error {
  color: red;
}

.notification {
  padding: 5px;
  padding-left: 10px;
}

.sign-in-out-btn{
  border: none;

  font-weight: 600;
  text-decoration: none !important;
}

.sign-in-out-btn:hover, {
  background-color: white !important;
  color: hsl(348, 100%, 61%) !important;
}

#nav-title {
  font-family: 'Sunflower';
}

#signin-form {
  position: absolute;
  top: 75px;
  left: 25%;
  width: 50%;
  
  padding: 30px;
  
}

#welcome-title {
  margin-bottom: 5px;
}


.room-btn-div {
  width: 220px;
  height: 220px;

  margin: 20px;
  border: 2px solid hsl(0, 0%, 48%);
  border-radius: 5px;

  color: hsl(0, 0%, 48%) !important;

}

.room-btn-div:hover {
  border-color: white;
  color: white !important;
  text-decoration: none;
}

.room-btn-icon {
  font-size: 68px !important; 
}
.room-btn-p {
  font-size: 20px;
}


#game-half {
  margin-bottom: 0;
}

#home-team, #away-team {
  padding: 10px;
}

#home-btn1 {
  position: absolute;
  top: 50px;
  left: -150px
}
#home-btn2 {
  position: absolute;
  top: 100px;
  left: -150px
}
#home-btn6 {
  position: absolute;
  top: 150px;
  left: -150px
}

#away-btn1 {
  position: absolute;
  top: 50px;
  right: -150px  
}
#away-btn2 {
  position: absolute;
  top: 100px;
  right: -150px
}
#away-btn6 {
  position: absolute;
  top: 150px;
  right: -150px
}

#time-start-btn {
  position: absolute;
  bottom: -50px;
  
  left: 200px
}
#time-pause-btn {
  position: absolute;
  bottom: -50px;

  right: 200px;
}

#timer {
  margin-top: -15px;
  font-size: 30px;
}

.score-btn {
  background-color: hsl(348, 100%, 61%);
  color: white;
}

.container {
  width: 65%;
}

#welcome-page {
  position: absolute;
  left: -125px;
  right: -125px;
}





@media only screen and (max-width: 1024px) {
  #signin-form {
    top: 150px;
    left: 5%;
    width: 90%; 
  }
}
@media only screen and (max-width: 600px) {
  
}